[Desktop Entry]
Name=BoatInstrument
GenericName=BoatInstrument Application
Comment=BoatInstrument
Path=/home/user/boatinstrument
Exec=onlyone ./boatinstrument
Icon=power-profile-balanced-symbolic
StartupNotify=true
Terminal=false
Type=Application
Categories=Navigation
