---
version: 2.1
orbs:
  cloudsmith: cloudsmith/cloudsmith@1.0.5
executors:
  boot-linux:
    machine:
      resource_class: large
      image: ubuntu-2204:2023.10.1
  boot-linux-arm:
    machine:
      resource_class: arm.large
      image: ubuntu-2204:2023.10.1
commands:
  git-checkout:
    steps:
      - checkout
      - run: mv install-scripts cross-build-release/
  build-n-publish-debian:
    steps:
      - run: sudo apt-get -y install wget
      - run: chmod a+x .circleci/*.sh
      - run:
          command: |
            .circleci/build-ci.sh
          no_output_timeout: 20m
      - cloudsmith/ensure-api-key
      - cloudsmith/install-cli
      - run:
          command: |
            .circleci/publish-cloudsmith.sh img bbn-projects/bbn-repo ${PKG_DISTRO}/${PKG_RELEASE}
          no_output_timeout: 40m
  do-all:
    steps:
      - git-checkout
      - build-n-publish-debian
jobs:
  build-raspbian-bookworm-arm32:
    executor: boot-linux-arm
    environment:
      - DOCKER_IMAGE=arm32v7/debian:bookworm
      - CONTAINER_DISTRO=debian:bookworm
      - PKG_RELEASE=raspbian
      - PKG_DISTRO=bookworm
      - PKG_ARCH=armhf
      - EMU=off
    steps:
      - do-all
  build-full-raspbian-bookworm-arm64:
    executor: boot-linux-arm
    environment:
      - DOCKER_IMAGE=arm64v8/debian:bookworm
      - CONTAINER_DISTRO=debian:bookworm
      - PKG_RELEASE=raspbian
      - PKG_DISTRO=bookworm
      - PKG_ARCH=arm64
      - BBN_KIND=FULL
      - EMU=off
    steps:
      - do-all
  build-lite-raspbian-bookworm-arm64:
    executor: boot-linux-arm
    environment:
      - DOCKER_IMAGE=arm64v8/debian:bookworm
      - CONTAINER_DISTRO=debian:bookworm
      - PKG_RELEASE=raspbian
      - PKG_DISTRO=bookworm
      - PKG_ARCH=arm64
      - BBN_KIND=LITE
      - EMU=off
    steps:
      - do-all
workflows:
  version: 2
  build_all:
    jobs:
      - build-lite-raspbian-bookworm-arm64
      - build-full-raspbian-bookworm-arm64
