[Desktop Entry]
Name=NOAA-APT Satellite Weather
GenericName=Image decoder for APT signals from NOAA satellites
Comment=NOAA-APT Satellite Weather
Exec=bash -c "cd /usr/local/share/noaa-apt; noaa-apt"
Icon=noaa-apt
Terminal=false
Type=Application
Categories=Navigation;Radio;
Keywords=rtlsdr;rtl;sdr;wav;
