[Desktop Entry]
Type=Application
Name=NoForeignLand
GenericName=NoForeignLand
Comment=NoForeignLand
Exec=gnome-www-browser https://www.noforeignland.com/
Terminal=false
Icon=gnome-globe
Categories=Network
Keywords=NoForeignLand
